@{
    ViewData["Title"] = "Projects";
}

<partial name="Partials/Sections/_AddProjectForm" />
<partial name="Partials/Sections/_EditProjectForm" />
<section id="projects">
  
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Projects</h2>
        <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-add btn-blue">
            Add Project
        </button>
    </header>



</section>
